@model EmployeeDemo.Models.FetchData

<table>
    <tr>
       <td>@Html.DisplayNameFor(model => model.EmployeeName)</td>
       <td>&nbsp;</td>
        <td>@Html.DisplayFor(model => model.EmployeeName)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => model.Gender)</td>
       <td>&nbsp;</td>
        <td>@Html.DisplayFor(model => model.Gender)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => model.Dob)</td>
       <td>&nbsp;</td>
        <td>@Html.DisplayFor(model => model.Dob)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => model.MobileNo)</td>
        <td>&nbsp;</td>
        <td>@Html.DisplayFor(model => model.MobileNo)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => model.Address)</td>
       <td>&nbsp;</td>
        <td>@Html.DisplayFor(model => model.Address)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => model.UserName)</td>
        <td>&nbsp;</td>
        <td>@Html.DisplayFor(model => model.UserName)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => model.Passoword)</td>
        <td>&nbsp;</td>
        <td>@Html.DisplayFor(model => model.Passoword)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.DepartmentName)</td>
        <td>&nbsp;</td>
        <td>@Html.DisplayFor(model => model.DepartmentName)</td>
    </tr>
</table>
<form>

<button type="submit" class="btn btn-primary m-1" asp-action="ListEmployee">Back To Home</button>

</form>
        
                
            
     

   